<div>
    <lable>Title</lable>
    <input type="text" name="title" value ="<%= book.title %>" >
</div>
<div>
    <lable>Author</lable>
    <select name="author">
        <% authors.forEach(author => { %>
            <% if (author.id === book.author) { %>
                <option selected label="<%= author.name %>" value="<%= author.id %>" ></option>
            <% } else { %>
                <option label="<%= author.name %>" value="<%= author.id %>" >
            <% } %>
        <% }) %>
    </select>
</div>
<div>
    <lable>Publish Date</lable>
    <input type="date" name="publishDate" 
    value ="<%= book.publishDate == null ? '' : 
    book.publishDate.toISOString().split('T')[0] %>" >
</div>
